/* Global */
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainSpacing: 3px;
   --mainTransition: all 0.3s linear;
  
  /*--lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5); */
}
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-top: 70px;
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1{
  font-size: 2.5em;
  margin-bottom: 0.4em;
}
h2{
  font-size: 2.7em;
}
h3{
  font-size: 2.5em;
}
h4{
  font-size: 2.4em;
}
h5{
  font-size: 2.2em;
}
h6{
  font-size: 1.2em;
}
/* End Global */


/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.75rem 0.5rem;
  width: 100%;
  z-index:1;
  background-color: var(--mainWhite);
}
.header{
  display: flex;
  justify-content: space-between;
}
.side-btn{
  font-size: 1.5em;
  padding: 0.2em;
  color: var(--primaryColor);
  cursor: pointer;
  border: none;
  background: transparent;
}
.side-btn:focus{
  outline: none;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  background: var(--mainWhite);
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 786px){
  .side-btn{
    display:none
  }
  .nav-center {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
  h1{
    font-size: 4em;
  }
}
/* End Of Navbar */
/* Top Of Page With Background Image And Centered Box- */
.defaultTop{
  min-height: calc(100vh - 70px);
  background: url("./images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nestedDefaultTop{
  background: rgba(0, 0, 0, 0.5);
  padding: 0.75em 5rem;
  color: var(--mainWhite);
  text-align: center;
  letter-spacing: 3px;
  text-transform: capitalize;
}
.nestedDefaultTop div{
  height: 0.3em;
  width: 150px;
  margin: 1.5rem auto;
  background: var(--primaryColor);
}
.nestedDefaultTop h6{
  font-weight: 200;
  margin-bottom: 0.5rem;
}

.btn-primary{
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background: var(--primaryColor);
  border:3px solid var(--primaryColor);
  transition: var(--mainTransition);
}
.btn-primary:hover{
  background: transparent;
}
.btn-primary:focus{
  outline:none;
}
/* End Of Top Of Page With Background Image And Centered Box- */

/* Services */
.services-section{
  padding: 30px 0px;
  background: var(--darkGrey);
}
.services{
  margin: 40px auto;
  max-width: 1100px;
  width:90%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
  user-select: none;
}
.service{
  text-align:center;
}
.service-icon{
  font-size: 50px;
  color: var(--primaryColor);
  margin-bottom: 10px;
}
.service-title{
  margin-bottom: 10px;
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  font-size: 1em;
}
/* End Of Services */

/* Title */
.title{
  text-align: center;
  text-transform: capitalize;
}
.title h1{
   font-size: 2em;
   letter-spacing: var(--mainSpacing);
   color: var(--mainBlack);
   font-weight: 700;
}
.title div{
  width:70px;
  height: 0.4rem;
  margin: 0.5rem auto;
  background: var(--primaryColor);
}
/* End Of Title */
/* Loading  */
.loading-section{
  text-align: center;
  margin-top: 30px;
  font-size: .8em;
  text-transform: capitalize;
  font-weight: 200;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
}
/* End Loading  */
/* Featured Rooms */
.featured-section{
  padding:30px 0px;
}
.rooms{
  margin: 30px auto;
  max-width: 1100px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  text-align: center;
}

.rooms section{
  background: var(--mainGrey);
  cursor: pointer;
  position: relative;
  box-shadow: 2px 8px 2px rgba(0,0,0,0.5);
  transition: var(--mainTransition);
}
.price{
  position: absolute;
  top: 0;
  left:0;
  padding: 2px 20px;
  display: inline-block;
  background: rgba(0,0,0,0.8);
  color: var(--mainWhite);
  border-radius: 0 0 10px 0;
}
.rooms img{
  width: 100%;
}
.rooms p{
  padding: 2px 0px;
  font-size: 1em;
  text-transform: capitalize;
}
.hidden-section{
  display: none;
  position: absolute;
  content: "";
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
}
.hidden-section a{
  color: var(--mainBlack);
}
.hidden-section a:hover{
  color: var(--primaryColor);
}
.rooms section:hover .hidden-section{
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
}

/* End Of Featured Rooms*/

/* Error */
.error{
  text-align: center;
  color: brown;
  font-size: .5em;
  letter-spacing: var(--mainSpacing);
  margin: 20px 0;
}
/* End Of Error */
/* Single Room Section */
.images-section{
   display: grid;
   max-width: 1100px;
   width:80%;
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   gap:40px;
   margin:60px auto;
}
.images-section img{
  width:100%;
}
.information-section{
  display: grid;
   max-width: 1100px;
   width:80%;
   grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
   gap:40px;
   margin:60px auto;
}
.description h3,.info h3{
  letter-spacing: var(--mainSpacing);
  margin-bottom: 20px;
  color:var(--mainBlack);
  font-size: 1.5em;
}
.description p{
  line-height: 25px;
  text-align: justify;
}
.info p{
  line-height: 50px;
  text-align: left;
  letter-spacing: 3px;
}
.extras{
  display: grid;
   max-width: 1100px;
   width:80%;
   grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
   gap:20px;
   margin:60px auto;
   list-style: none;
}
/* Single Rooms Section End */
/* Search Room Section */
.search-room-section{
  margin-top: 60px;
}
.search-room-form{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  max-width: 1100px;
  width:95%;
  gap: 25px;
  margin: 50px auto;
  line-height: 25px;
}
@media screen and (max-width: 500px){
  .search-room-form{
    grid-template-columns: 1fr;
    width:80%;
  }
}
.form-group{
  text-transform: capitalize;
}
.form-group label{
display: block;
}
.form-group select,input[type="range"]{
  width: 100%;
}
input[type="number"]{
  border-radius: 5px;
  width:30%;
  border: 1px solid var(--mainBlack);
  padding: 0 2px;
  margin: 0 5px;
  font-size: 16px;
}
.checkbox{
  display: block;
}
/* End Search Room Section */